Telegram_Assistant_10.json
{
  "name": "Telegram Assistant 10",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        -20
      ],
      "id": "33fedf50-63b8-492c-9ef6-8ef64e512b46",
      "name": "Telegram Trigger",
      "webhookId": "5606893c-11d6-49ae-9d30-ff37e9ca21d2",
      "credentials": {
        "telegramApi": {
          "id": "Fy4Q3qkogVIwc0gI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "0e94ac97-f14a-4cda-a512-e84867c21251"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d90df144-3799-460f-b996-da169b51dcb7",
                    "leftValue": "={{ $json.message.voice.mime_type }}",
                    "rightValue": "audio/ogg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -180,
        -20
      ],
      "id": "bd110540-cd21-45a8-a207-55e1e3f52844",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $ifEmpty($json.prompt1, $json.prompt2) }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        440,
        -40
      ],
      "id": "e9f9dab9-7049-42f4-9a9c-8ffef1edfbbb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        760,
        -40
      ],
      "id": "bfd3abdb-28d7-4ffd-bbb6-23dde2bb3f26",
      "name": "Telegram",
      "webhookId": "6d3c9c21-ecf6-4a4c-96f5-2ab584f35dcf",
      "credentials": {
        "telegramApi": {
          "id": "Fy4Q3qkogVIwc0gI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -20,
        80
      ],
      "id": "cb391d3d-7823-46e5-8fb2-22b57c560642",
      "name": "Get Voice File",
      "webhookId": "38ad28d8-bd86-4175-a80a-680bc0820511",
      "credentials": {
        "telegramApi": {
          "id": "Fy4Q3qkogVIwc0gI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-inference.huggingface.co/models/openai/whisper-large-v3-turbo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            },
            {
              "name": "Content-Type",
              "value": "audio/ogg"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        80
      ],
      "id": "d415c8b2-28cc-455f-96e5-380f793c851e",
      "name": "Transcribe"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63fff5ab-6b41-4cce-848b-aab648a5055d",
              "name": "prompt1",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "6f406d76-c366-4d0b-8d06-747fc70e27c4",
              "name": "prompt2",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        -40
      ],
      "id": "b21c3346-6b7d-454b-8503-4a8278abda9d",
      "name": "Map Fields"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-exp-03-25",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        360,
        140
      ],
      "id": "30438e01-2bff-4b6e-bce7-41f3d71fcfe0",
      "name": "Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "BQ10I4HXxT8vJFft",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "simplememory",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        540,
        140
      ],
      "id": "a2307616-a5f5-4ce1-a288-663a825be7de",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Map Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "Map Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10c8342b-7023-4beb-ac66-8d13c957c990",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa3d9b33224ff7b4f56c21ebdacf97ead73ab01cda367e57a4a834ade8ad919d"
  },
  "id": "VZs5HMm6rEpxnMp4",
  "tags": []
}